table, th, td {
  border: 1px solid black;
}
table {
  border-collapse: collapse;

}
td {
  text-align: center;
}
th, td {
  padding: 15px;
  text-align: left;
}
tr:hover {background-color: #adf;}
tr:nth-child(uneven) {background-color: #f2f2f2;}
th {
  background-color: grey;
  color: white;
}
